<ion-content>
  <div id="content">
    <div class="fondo-blanco-claro">
      <div class="container">
        <div class="row gris-dark">
          <div class="col-9 mt-4">
            <h3>Calendario de Pago<br/>de Pensiones</h3>
          </div>
          <div class="col-3 text-right">
            <img src="assets/img/calendario-rojo.svg" style="height:40px;width:auto;" class="mt-4 mb-3">
          </div>
          <div class="col-12 mx-auto my-4">
            <select class="form-control" (change)="onItemChange($event)" style="border: 1px solid #ced4da;border-radius: 0.25rem;">
              <option *ngFor="let a of anios" value="{{ a }}">CALENDARIO {{ a }}</option>
            </select>
          </div>
          <div class="col-11 mx-auto">
            <div class="row" style="border-bottom:#8A999A 1px solid;" *ngFor="let p of pagos">
              <div class="col-5">
                <h4 style="margin-bottom:0.37rem!important;" class="mt-1">{{p.mes}}</h4>
              </div>
              <div class="col-4">
                <h4 style="margin-bottom:0.37rem!important;" class="mt-1">{{p.diaSemana}}</h4>
              </div>
              <div class="col-3">
                <h4 style="margin-bottom:0.37rem!important;" class="mt-1">{{p.dia}}</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
